.login{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login form{
    background: var(--barColor);
    background: linear-gradient(180deg, var(--barColor) 0%, transparent 100%);
    width: 25%;
    padding: 50px;
    border: 2px solid var(--barColor);
    border-radius: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;

    transition: .5s ease;
}

.login form:hover{
    scale: 1.03;
}

.login .info{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.login h1{
    font-family: "Chela One", sans-serif;
    font-size: 300%;
    color: var(--headersColor);
}

.login input, .login button{
    padding: 10px 25px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 50px;

    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;

    transition: .3s ease;
}

.login input{
    background-color: var(--invbtnColor);
}

.login button{
    background-color: var(--btnColor);
    color: var(--btntextColor)
}

.login button:hover{
    background-color: var(--btnHoverColor);
}